/*Identificamos la paleta de colores*/
:root {
    --primario: #8DBA76;  /* color titulo en figma  es: #40682E */
    --secundario: #F4A3C1;
    --terciario: #FF8C00;
    --neutral: #FDF9F2;
    --color-texto: rgb(27, 32, 33); /*  color texto Figma : #41493E */
}

body {
    background-color: var(--neutral) !important;
    font-family: "Manrope", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 400 !important;
    font-style: normal !important;
}


h1,
h2,
h3,
h4,
h5 {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    font-weight: 400;
    font-style: normal;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



/*Animación para el scrolleo suave*/
html {
    scroll-behavior: smooth;
}

/*Propuesta de tamaño para los contenedores*/
.contenedor {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}


/*PAGINA DE NOSOTROS*/

/*Descripción del proyecto*/
#descProyect .nosotrosLogo {
    display: block;
    max-width: 170px;
    height: auto;
    margin: 15px auto 0; 
    background-color: transparent;
}

#descProyect {
    background-color: var(--neutral) ;
    text-align: justify;
    padding: 60px 24px 40px;
}

#descProyect h1 {
    color: #40682E;
    font-weight: 800;
    text-align: center;

}

#descProyect .texto-premium {
    color: #41493E;
    text-align: justify;
    font-size: 1.05rem;
    line-height: 1.4;
    margin: 20px 20px 0px 20px;
}

/* --------Inicio de estilos de las tarjetas-------- */
.descTeam {
    padding: 20px 0 80px; /* Espacio entre contenido y borde de seccion de tarjetas */
} 


.custom-card { /* clase y estilos de la tarjeta en general*/
    background-color: white;  /* Color de fondo blanco */
    color: var(--color-texto); /* Color de texto */
            
    border: none;  /* Sin borde */
    border-radius: 13px !important; /* Esquinas sutilmente redondeadas, !important: prioriza a css en vez de bootstrap*/
    overflow: hidden; /* (Para las img) Evita que el contenido se salga de la tarjeta, más no evita  que crezca ya que no hemos definido altura ni ancho fijo*/
        
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08); /* Sombreado de la tarjeta */

            
    transition: 
        transform 0.3s ease, /* suavidad en el mov */
        box-shadow 0.3s ease;  /* Animación de transición, aquí se llama  para que el mov sea suave, y se activa y agrega el estilo con el hover debajo (sombreado, mov en eje y) */
}

.custom-card .team-img { /* clase y estilos de la img en las tarjetas */
    width: 100%; /* ancho */
    height: 250px; /* altura de la imagen */
    object-fit: cover; /* La imagen llena todo el espacio y mantiene sus proporciones. Si sobra una parte, la recorta. */
    object-position: center;  /* img centrada */
}

.custom-card .card-body { /* clase y estilos del contenido de la tarjeta, textos*/
    display: flex; /* <------------ Sirve para acomodar los elementos hijos (de .card-body) con mucha más libertad, en este caso, el contenido de la tarjeta, titulo, texto y rol */ 
    flex-direction: column; /* <----------- Acomoda los elementos en columna */

    padding: 24px; /* espacio entre el contenido y el borde */
    text-align: left; /* alinea el texto a la izquierda*/
}

.custom-card .card-title { /* clase y estilos del titulo de la tarjeta */
    color: var(--color-texto);
    font-size: 20px;
    font-weight: 700; /* espesor de la letra */

    margin-bottom: 14px; 
}

.custom-card .card-text { /* clase y estilos del texto de la tarjeta */
    color: #555;
    font-size: 14px;
    line-height: 1.5p; /* espacio entre renglones */

    margin-bottom: 24px;
}

.custom-card .team-role { /* clase y estilos del rol del integrante */ 
    color: #777; 
    font-size: 13px; /*  tamaño de letra */
    font-weight: 600; /* espesor de la letra */
    letter-spacing: 0.05rem; /* espacio entre letras*/

    margin-top: auto; /* margen de arriba auto*/
    margin-bottom: 0; /* margen de abajo del rol*/
}

.custom-card:hover {  /* Aquí especificamos el hover de las tarjetas que marcamos arriba, aqui se le especifica que movimiento hara, si tendra sombreado, etc para que se respete el ease de arriba*/
    transform: translateY(-6px);  /*  mueve 6 px en el eje y (arriba, abajo) hacia arriba por ser negativo */
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.13); /* sombreado suave y con opacidad */
}

/* --------Fin de estilos para las tarjetas--------*/


.descripcion1{
    border-top:0.150rem solid  #8DBA76; 

}

.card2{
    margin: 1.25rem; 
    border: 0.150rem solid #F4A3C1; 
    padding: 0.938rem; 
    border-radius: 1rem;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);

}

.descripcion2{
    border-top:0.150rem solid #F4A3C1; 
}

.card3{
    margin: 1.25rem; 
    border: 0.150rem solid  #FF8C00; 
    padding: 0.938rem; 
    border-radius: 1rem;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);
}

.descripcion3{
    border-top:0.150rem solid  #FF8C00; 
}


/************************PAGINA DE CONTACTO*******************************************/


/*-------Descripcion del contacto------*/
.holaMochi {
    background-color: #F4A3C1;
    border-radius: 3rem;
    width: fit-content;
    padding: 2px 7px;
    color: var(--color-texto);
}

#descripcionContacto {
    margin-top: 2rem;
}

#descripcionContacto h1 {
    color: #40682E;
    font-weight: 800;
    text-align: left;
    padding-bottom: 15px;
}

#descripcionContacto p {
    color: #41493E;
    text-align: left;
}


.imagenProductos {
    object-fit: cover;
    width: 90%;
    height: auto;
    border: 8px solid white;
    border-radius: 1rem;

    transform: rotate(3deg);
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.2); /* sombreado suave y con opacidad */
}

.botonesContacto {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.whats {
    border: none;
    background-color: #40682E;
    color: white;
    border-radius: 3rem;
    padding: 15px 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    transition: 
    transform 0.3s ease, /* suavidad en el mov */
    box-shadow 0.3s ease;
}

.whats img {
    width: 25px;
    height: 25px;
}

.whats:hover, .email:hover, .botonEnviar:hover {
    cursor: pointer;
    box-shadow: 0 14px 35px rgba(0, 0, 0, 0.2); /* sombreado suave y con opacidad */
}

.email {
    border: 2px solid #FF8C00;
    border-radius: 3rem;
    padding: 15px 25px;
    background-color: #FF8C00;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    transition: 
    transform 0.3s ease, /* suavidad en el mov */
    box-shadow 0.3s ease;
}

.email img {
    width: 25px;
    height: 25px;
}

/*-------Formulario------*/
.card{
    border-radius: 2rem;
}

.card-body{
    background-color: white;
    border-radius: 2rem;;
}

.botonEnviar{
    background-color: #40682E;
    color: white;
    border-radius: 2rem;
    padding: 10px 15px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.info_box{
    margin-top: 1rem ;
    background-color: white;
    border-radius: 0.375rem;
    border: 1px solid #40682e85;
    padding: 10px;
}